{% extends "blog/base.html" %}

{% block title %}Add a Comment{% endblock %}

{% block content %}
<div class="container mt-4">
    {% if comment %}
        <div class="alert alert-success shadow-sm rounded">
            <h4 class="alert-heading">Thank you!</h4>
            <p>Your comment has been successfully added.</p>
            <hr>
            <a href="{{ post.get_absolute_url }}" class="btn btn-outline-primary">← Back to the post</a>
        </div>
    {% else %}
        {% include "blog/post/includes/comment_form.html" %}
    {% endif %}
</div>
{% endblock %}

