<nav class="pagination-nav my-4">
  <ul class="pagination justify-content-center">
    {% if page.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page.previous_page_number }}">
          <i class="bi bi-chevron-left"></i> Previous
        </a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <span class="page-link"><i class="bi bi-chevron-left"></i> Previous</span>
      </li>
    {% endif %}

    <li class="page-item disabled">
      <span class="page-link">{{ page.number }} / {{ page.paginator.num_pages }}</span>
    </li>

    {% if page.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page.next_page_number }}">
          Next <i class="bi bi-chevron-right"></i>
        </a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <span class="page-link">Next <i class="bi bi-chevron-right"></i></span>
      </li>
    {% endif %}
  </ul>
</nav>